html {
  height: 100%;
  width: 100%;
}

body {
  margin: 40px 40px 0 40px;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background: #070709;
  color: white;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  width: 100%;
}

.left-container {
  /* border: 1px solid white; */
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.left-container > h1 {
  font-size: 37px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.sections {
  min-height: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about-me {
  /* display: none; */
  /* border: 1px solid white; */
}

#about-me > p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding-right: 30px;
}

#resume {
  border: 1px solid white;
}

#experience {
  display: none;
}

#education {
  display: none;
}

#projects {
  display: none;
}

#projects > p {
  padding-right: 100px;
}

#contact {
  display: none;
}

.title {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project-title {
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.project-title > a {
  border: 1.5px solid white;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 1.75px 1.75px 0.5px white;
}

.project-description {
  line-height: 23px;
}

.icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.icons > li {
  padding-right: 15px;
}

.svg-icon path {
  fill: white; /* Sets the interior color to blue */
  width: 100px;
  height: 100px;
}

.right-container {
  /* border: 1px solid white; */
  flex: 1;
  display: flex;
  justify-content: end;
  padding-top: 5px;
}

.right-container > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  /* width: 64%; */
  letter-spacing: 2px;
}

.right-container > ul > li {
  margin-bottom: 22px;
  /* padding-bottom: 2.5px; */
  font-size: 23px;
  cursor: pointer;
  text-transform: uppercase;
  /* border: 1.5px solid #070709;
  box-shadow: none; */
  border: 1.5px solid #070709;
  padding: 6px;
  border-radius: 5px;
  text-align: center;
}

.right-container > ul > li:hover {
}

.button-selected {
  /* letter-spacing: 7.5px; */
  border: 1.5px solid white;
  padding: 6px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 0.5px white; */
}

.last-letter {
  letter-spacing: 0px;
}

#contact-button {
  margin-bottom: 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 20px 40px;
}
